.header {
    border-bottom: 2px solid #c1c1c1;
}

/* .logo-container {
    padding: 14px 50px;
    .clm_logo {
        width: 250px;
    }
} */
.content-container {
    padding: 14px 50px;
}

.main {
    width: 100%;
    padding: 10px;
}